aiomysql==0.2.0
asgiref==3.7.2
asyncio==3.4.3
blinker==1.6.2
cryptography==41.0.6
DBUtils==3.0.3
Flask==2.3.3
gunicorn==20.1.0
MarkupSafe==2.1.1
PyMySQL==1.0.3
requests==2.31.0
six==1.16.0
ulid-py==1.1.0
user-agents==2.2.0
Werkzeug==3.0.1
